# Books

by Israel Diaz

## Assignment

Consider the following "flat" file that a start-up has just started using for its first customers: [Client's Original File](https://docs.google.com/spreadsheets/d/1uVH2ETvkVxQecG7N4jnbprVnTTlmuZfmY6jQVFkv9V0/gviz/tq?tqx=out:csv&sheet=Customers_favorite_books). They quickly realized that saving this information in .csv format will not meet their needs as they grow. First, consider how you would design a relational database to meet their needs. Be sure to consider conventions of normalization and what information should be separated.

### Solution

### Design ERD

![png](books_db_erd.png)

### Building Tables

#### Load libraries

In [3]:
## general
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

### Load data

Data will be loaded from existing files

In [4]:
users_url = 'https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users'
books_url = 'https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books'
authors_url = 'https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors'
favorites_url = 'https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite'

In [5]:
##Users
users = pd.read_csv(users_url)
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [6]:
## books
books = pd.read_csv(books_url)
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [7]:
##authors
authors = pd.read_csv(authors_url)
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [8]:
## favorites
favorites = pd.read_csv(favorites_url)
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

#### Create database

In [9]:
## connection
connection_str = "mysql+pymysql://root:****@localhost/books" ### passwork is hidden for security purposes

In [10]:
## create engine
engine = create_engine(connection_str)

In [11]:
## Create database
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
    create_database(connection_str)
else:
    print('The database already exists')

#### Exporting pandas dataframe to SQL tables into the database

In [12]:
users.to_sql('users', engine, if_exists='replace')
books.to_sql('books', engine, if_exists='replace')
authors.to_sql('authors', engine, if_exists='replace')
favorites.to_sql('favorites', engine, if_exists='replace')

7

#### Testing database

In [13]:
q = """
SHOW TABLES
"""

pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

Good!

In [14]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites
    ON books.id = favorites.book_id
WHERE favorites.user_id =
    (SELECT users.id
     FROM users
     WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1